<?xml version="1.0"?>

<model>
  <name>Torpedo V3</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Ardkil</name>
    <email>ardakilincokl@gmail.com</email>
  </author>

  <description>
    Tethys LRAUV-based torpedo with ArduPilot SITL control.
    Motor1 (SERVO1) = Thruster, Motor2 (SERVO2) = Vertical fins (rudder),
    Motor3 (SERVO3) = Horizontal fins (elevator).
  </description>

</model>
